<br>
<br>
<div class="line"> 
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <div class="contenedor"> 
          {{ this.form.value['nombre'] }}
        </div>
        </mat-card-title>
    </mat-card-header>
    <iframe [src]="transform(this.form.value['PDF'])"  
    width="800px" height="760px" frameborder="1" >
         </iframe>

    <mat-card-actions> 
      <button mat-button  class="btn btn-sm m-2" (click)="MeGusta()" [class.myClass]="this.form.value['MEGUSTA'].toLowerCase() === 'true'"  >LIKE</button>
      <button mat-button>SHARE</button>
              <!--Agregar a la lista-->
              <mat-form-field appearance="outline" style="width: 80px;">
                <mat-label>Listas</mat-label>
                <mat-select>
                  <div class="form-group">
                   
                  <mat-option *ngFor="let Lista of Lista" >

                    
  <!--  
                  <div *ngIf ="checkboxes(Lista.ID_LISTA); then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                    <label><input type="checkbox" name={{Lista.NOMBRE}}  id = {{Lista.ID_LISTA}}  (click)="addToList(Lista)" checked> {{Lista.NOMBRE}}</label>
                  </ng-template>
                  <ng-template #elseBlock>
                    <label><input type="checkbox" name={{Lista.NOMBRE}}  id = {{Lista.ID_LISTA}}  (click)="addToList(Lista)"> {{Lista.NOMBRE}}</label>
                  </ng-template>

                    <input type="checkbox" name={{Lista.NOMBRE}} (click)="addToList(Lista,Apuntes)" ngModel required>
                    <button  mat-button (click)="checkboxes(Lista.ID_LISTA)"> {{Lista.NOMBRE}} </button> 
                                      <label><input type="checkbox" name={{Lista.NOMBRE}}  id = {{Lista.ID_LISTA}}  (click)="addToList(Lista)"  checked={{Lista.boolean}} > {{Lista.NOMBRE}}</label>
                           -->
                           <label><input type="checkbox" name={{Lista.NOMBRE}}  
                            class="form-check-input"
                                          id = '{{Lista.ID_LISTA}}'  
                                          (click)="addToList(Lista, $event)"  
                                          [checked]= "Lista.boolean.toLowerCase() === 'true'"  />
                                           {{Lista.NOMBRE}}
                                        </label>
                  </mat-option>
                </div>
                </mat-select>
              </mat-form-field>
    </mat-card-actions>
  </mat-card>

  </div>