<mat-card>

  <form class="form" method="post" action="#">
    <form [formGroup]="form">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Placeholder" required="" formControlName="USUARIO">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Nombre que se usa para el login</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Placeholder" required="" formControlName="CONTRASEÑA">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>max. 64 caracteres</mat-hint>
      </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Placeholder" required="" formControlName="Nombre">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Tu nombre (Opcional)</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>user@mailService.url</mat-label>
          <input matInput placeholder="Placeholder" required="" formControlName="CORREO">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
    </form>
    <div class="tab">
      <button mat-raised-button color="accent" (click)="addUser()">Registrar</button>
    </div>
    <div class="center">
        <button mat-raised-button (click)="home()">Cancelar</button>
    </div>
  </form>

    




</mat-card>
