<div class="contenedor">
  <article> 
<div>
    <mat-card>


            <div id="allSampleContent" class="p-4 w-full">
          
          <div id="sample">
            <div id="myDiagramDiv" style="border: 2px solid rgb(24, 24, 24); width: 100%; height: 700px; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); background-color: rgb(230, 230, 199);"><canvas tabindex="0" width="1054" height="298" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 1054px; height: 298px;">This text is displayed if your browser does not support the Canvas HTML element.</canvas><div style="position: absolute; overflow: auto; width: 1054px; height: 298px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
            
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Opciones Avanzadas
                    </mat-panel-title>
                    <mat-panel-description>
                      Guardar, Cargar, Ver en formato JSON
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div>
                    <div>
                      <button mat-button id="saveModel" style="margin-left: 10px;" onclick="save();">Save</button>
                      <button mat-raised-button color="warning" style="margin-left: 10px;" onclick="layoutAll()">Auto Layout</button>
                      <!-- <button mat-raised-button color="accent" onclick="load();">Load</button> -->
                      <mat-form-field ppearance="outline" style="width: 80px; margin-left: 10px;" >
                        <mat-label>Load</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let Lista of Lista" >  
                            <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="cargar(Lista.NOMBRE,Lista.log)" onclick="load();">{{Lista.NOMBRE}}</button>
                            <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="eliminar(Lista.NOMBRE)" ><mat-icon>delete_outline</mat-icon></button>
                
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                
                
                      <h3>{{name}}</h3>       
                      <p>Modelo en formato JSON:</p>
                    </div>
                
                    <textarea id="mySavedModel" style="width:1300px;height:400px"> { "class": "TreeModel",
                      "nodeDataArray": [
                    {"key":0,"text":"Mapa Mental","loc":"0 0"},
                    {"key":1,"parent":0,"text":"Obtener mas tiempo","brush":"skyblue","dir":"right","loc":"95.14990234375 -28.5"},
                    {"key":11,"parent":1,"text":"Despertar temprano","brush":"skyblue","dir":"right","loc":"232.92431640625 -54.5"},
                    {"key":12,"parent":1,"text":"Delegar tiempo","brush":"skyblue","dir":"right","loc":"232.92431640625 -28.5"},
                    {"key":13,"parent":1,"text":"Simplificar","brush":"skyblue","dir":"right","loc":"232.92431640625 -2.5"},
                    {"key":2,"parent":0,"text":"Uso mas efectivo","brush":"darkseagreen","dir":"right","loc":"95.14990234375 49.5"},
                    {"key":21,"parent":2,"text":"Planear","brush":"darkseagreen","dir":"right","loc":"214.8525390625 36.5"},
                    {"key":211,"parent":21,"text":"Prioridades","brush":"darkseagreen","dir":"right","loc":"279.66064453125 23.5"},
                    {"key":212,"parent":21,"text":"Maneras de enfocarse","brush":"darkseagreen","dir":"right","loc":"279.66064453125 49.5"},
                    {"key":22,"parent":2,"text":"Metas","brush":"darkseagreen","dir":"right","loc":"214.8525390625 62.5"},
                    {"key":3,"parent":0,"text":"Perdida de tiempo","brush":"palevioletred","dir":"left","loc":"-20 -31.75"},
                    {"key":31,"parent":3,"text":"Muchas reuniones","brush":"palevioletred","dir":"left","loc":"-145.5107421875 -64.25"},
                    {"key":32,"parent":3,"text":"Demasiado tiempo en detalles","brush":"palevioletred","dir":"left","loc":"-145.5107421875 -25.25"},
                    {"key":33,"parent":3,"text":"Fatiga de mensajes","brush":"palevioletred","dir":"left","loc":"-145.5107421875 0.75"},
                    {"key":331,"parent":31,"text":"Dejar de ver mensajes","brush":"palevioletred","dir":"left","loc":"-271.73876953125 -77.25"},
                    {"key":332,"parent":31,"text":"Filtros de mensajes","brush":"palevioletred","dir":"left","loc":"-271.73876953125 -51.25"},
                    {"key":4,"parent":0,"text":"problemas clave","brush":"coral","dir":"left","loc":"-20 52.75"},
                    {"key":41,"parent":4,"text":"Metodos","brush":"coral","dir":"left","loc":"-134.65625 26.75"},
                    {"key":42,"parent":4,"text":"Fechas limite","brush":"coral","dir":"left","loc":"-134.65625 52.75"},
                    {"key":43,"parent":4,"text":"Chequeos","brush":"coral","dir":"left","loc":"-134.65625 78.75"}
                    ]}
                    </textarea>
                    
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Ayuda
                    </mat-panel-title>
                    <mat-panel-description>
                      Cómo usar el Diagrama/Mapa
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
                
                </mat-accordion>
                <br>
                <button mat-raised-button color="warn" onclick="printDiagram()">Imprimir en formato .PDF</button> &nbsp;
                <button mat-raised-button color="primary" onclick="saveSvg()">Guardar en formato .SVG</button>
                </div>
                </div>
                
                </mat-card>
                </div>
                   
                  </article>
                
                  <div class="overlay" id="overlay">
                    <div class="popup" id="popup">
                      <h3>Guardado</h3>
                      <form class="form" method="post" action="#">
                      <form [formGroup]="form">
                        <div class="contenedor-inputs">
                          <input type="text" placeholder="Nombre" formControlName="NAME" >
                        </div>
                        <input type="submit"  id="btn-cerrar-popup" class="btn-submit" value="Enviar" (click)="Saved()">
                        <input type="submit"  id="btn-cerrar-popup_" class="btn-submit" value="Cerrar">
                      </form>
                    </form>
                    </div>
                  </div>
                 
                </div>






