<div class="contenedor">
  <article> 
<div>
  <mat-card>

  <div id="Electronica" class="p-4 w-full">
<div id="sample">
  <div style="width: 100%; display: flex; justify-content: space-between">
    <div id="palette" style="width: 100px; height: 600px; margin-right: 2px; background-color: rgb(65, 65, 65); border: 3px solid rgb(54, 54, 54); position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;"><canvas tabindex="0" width="122" height="622" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 98px; height: 498px; cursor: auto;">This text is displayed if your browser does not support the Canvas HTML element.</canvas><div style="position: absolute; overflow: auto; width: 98px; height: 498px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
    <div id="myDiagramDiv" style="flex-grow: 1; height: 600px; border: 3px solid rgb(51, 51, 51); position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;"><canvas tabindex="0" width="1190" height="622" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 952px; height: 498px; cursor: auto;">This text is displayed if your browser does not support the Canvas HTML element.</canvas><div style="position: absolute; overflow: auto; width: 952px; height: 498px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
  </div>
  

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Opciones Avanzadas
        </mat-panel-title>
        <mat-panel-description>
          Guardar, Cargar, Ver en formato JSON
        </mat-panel-description>
      </mat-expansion-panel-header>

  <div>
    <div>
      <button mat-button id="saveModel" onclick="save();">Save</button>
      <!-- <button mat-raised-button color="accent" onclick="load();">Load</button> -->
      <mat-form-field ppearance="outline" style="width: 80px;" >
        <mat-label>Load</mat-label>
        <mat-select>
          <mat-option *ngFor="let Lista of Lista" >  
            <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="cargar(Lista.NOMBRE,Lista.log)" onclick="load();">{{Lista.NOMBRE}}</button>
            <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="eliminar(Lista.NOMBRE)" ><mat-icon>delete_outline</mat-icon></button>

          </mat-option>
        </mat-select>
      </mat-form-field>


      <h3>{{name}}</h3>       
      <p>Modelo en formato JSON:</p>
    </div>

    <textarea id="mySavedModel" style="width:1300px;height:400px">{ "class": "go.GraphLinksModel",
      "linkFromPortIdProperty": "fromPort",
      "linkToPortIdProperty": "toPort",
      "nodeDataArray": [
    {"category":"input", "key":"input1", "loc":"-150 -80" },
    {"category":"or", "key":"or1", "loc":"-70 0" },
    {"category":"not", "key":"not1", "loc":"10 0" },
    {"category":"xor", "key":"xor1", "loc":"100 0" },
    {"category":"or", "key":"or2", "loc":"200 0" },
    {"category":"output", "key":"output1", "loc":"200 -100" }
     ],
      "linkDataArray": [
    {"from":"input1", "fromPort":"out", "to":"or1", "toPort":"in1"},
    {"from":"or1", "fromPort":"out", "to":"not1", "toPort":"in"},
    {"from":"not1", "fromPort":"out", "to":"or1", "toPort":"in2"},
    {"from":"not1", "fromPort":"out", "to":"xor1", "toPort":"in1"},
    {"from":"xor1", "fromPort":"out", "to":"or2", "toPort":"in1"},
    {"from":"or2", "fromPort":"out", "to":"xor1", "toPort":"in2"},
    {"from":"xor1", "fromPort":"out", "to":"output1", "toPort":""}
     ]}
    </textarea>
    
  </div>
</mat-expansion-panel>
</mat-accordion>
<br>
<button mat-raised-button color="warn" onclick="printDiagram()">Imprimir en formato .PDF</button> &nbsp;
<button mat-raised-button color="primary" onclick="saveSvg()">Guardar en formato .SVG</button>
</div>
</div>

</mat-card>
</div>
   
  </article>

  <div class="overlay" id="overlay">
    <div class="popup" id="popup">
      <h3>Guardado</h3>
      <form class="form" method="post" action="#">
      <form [formGroup]="form">
        <div class="contenedor-inputs">
          <input type="text" placeholder="Nombre" formControlName="NAME" >
        </div>
        <input type="submit"  id="btn-cerrar-popup" class="btn-submit" value="Enviar" (click)="Saved()">
        <input type="submit"  id="btn-cerrar-popup_" class="btn-submit" value="Cerrar">
      </form>
    </form>
    </div>
  </div>
 
</div>

