<mat-card>


      <p>
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <div>
        <button mat-raised-button color="accent">Log In</button>
        <span class="tab"></span>
        <button mat-raised-button (click)="register()">Registrar</button>
      </div>
      
      <div class="padd">
      <button mat-raised-button color="warn">Olvide mi contreseña</button>
      </div>
      




</mat-card>

  