<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>El manual del estudiante</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with home icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-fab class="login" aria-label="button for login" (click)="login()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    COMPONENTE2
  </div>

</mat-drawer-container>