<div class="contenedor">
  <article> 
<div>
    <mat-card>
        <div id="sample">
            <div id="myDiagramDiv" style="background: whitesmoke;border: 1px solid black; width: 100%; height: 400px; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;"><canvas tabindex="0" width="1054" height="398" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 1054px; height: 398px; cursor: auto;">This text is displayed if your browser does not support the Canvas HTML element.</canvas><div style="position: absolute; overflow: auto; width: 1054px; height: 398px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
            <p>
              A <em>sequence diagram</em> is an interaction diagram that shows how entities operate with one another and in what order.
              In this sample, we show the interaction between different people in a restaurant.
            </p>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Opciones Avanzadas
                    </mat-panel-title>
                    <mat-panel-description>
                      Guardar, Cargar, Ver en formato JSON
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div>
                    <div>
                      <button mat-raised-button color="primary" onclick="loadNewMap()">Nuevo Diagrama</button>&nbsp; 
                      <br>
                      <button mat-button id="saveModel" onclick="save();">Guardar</button>&nbsp; 
                      <!-- <button mat-raised-button color="accent" onclick="load();">Load</button> -->
                      <mat-form-field ppearance="outline" style="width: 80px;" >
                        <mat-label>Cargar</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let Lista of Lista" >  
                            <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="cargar(Lista.NOMBRE,Lista.log)" onclick="load();">{{Lista.NOMBRE}}</button>
                            <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="eliminar(Lista.NOMBRE)" ><mat-icon>delete_outline</mat-icon></button>
                
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                
                
                      <h3>{{name}}</h3>       
                      <p>Modelo en formato JSON:</p>
                    </div>
              <textarea id="mySavedModel" style="width:100%;height:240px">{ "class": "GraphLinksModel",
                "nodeDataArray": [
              {"key":"Fred","text":"Fred: Patron","isGroup":true,"loc":"0 0","duration":9},
              {"key":"Bob","text":"Bob: Waiter","isGroup":true,"loc":"121 0","duration":9},
              {"key":"Hank","text":"Hank: Cook","isGroup":true,"loc":"253 0","duration":9},
              {"key":"Renee","text":"Renee: Cashier","isGroup":true,"loc":"373 0","duration":9},
              {"group":"Bob","start":1,"duration":2,"key":-5},
              {"group":"Hank","start":2,"duration":3,"key":-6},
              {"group":"Fred","start":3,"duration":1,"key":-7},
              {"group":"Bob","start":5,"duration":1,"key":-8},
              {"group":"Fred","start":6,"duration":2,"key":-9},
              {"group":"Renee","start":8,"duration":1,"key":-10}
              ],
                "linkDataArray": [
              {"from":"Fred","to":"Bob","text":"ordena","time":1},
              {"from":"Bob","to":"Hank","text":"ordena comida","time":2},
              {"from":"Bob","to":"Fred","text":"sirve las bebidas","time":3},
              {"from":"Hank","to":"Bob","text":"termina de cocinar","time":5},
              {"from":"Bob","to":"Fred","text":"sirve la comida","time":6},
              {"from":"Fred","to":"Renee","text":"paga","time":8}
              ]}
              </textarea>
            </div>
            
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Ayuda
                    </mat-panel-title>
                    <mat-panel-description>
                      Cómo usar el Diagrama/Mapa
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Agregar procesos: doble click.</li>
                    <li>Eliminar procesos y conexiones: seleccione  y presione backspace.</li>
                    <li>Copiar procesos y conexiones: seleccione y presione Ctrl+c.</li>
                    <li>Pegar procesos y conexiones: presione Ctrl+v.</li>
                    <li>Deshacer la acción anterior: presione Ctrl+z.</li>
                    <li>Rehacer una acción eliminada: presione Ctrl+y.</li>
                    <li>Crear Diagrama/Mapa desde cero: opciones avanzadas -> Nuevo Mapa</li>
                    <li>Guardar Diagrama/Mapa: opciones avanzadas -> Guardar -> Agregar nombre -> Enviar</li>
                    <li>Cargar Diagrama/Mapa: opciones avanzadas -> load -> seleccione el que desea.</li>
                    <li>Modificar Diagrama/Mapa guardado: opciones avanzadas -> Guardar -> usar el mismo nombre del Diagrama/Mapa -> Enviar.</li>
                    <li>Eliminar Diagrama/Mapa guardado: opciones avanzadas -> load -> seleccione el icono del basurero al Diagrama/Mapa que desea eliminar. </li>
                    <li>Seleccionar un gran numero de procesos y conexiones: presione en un sitio que no toque los procesos y conexiones y mantenga presionado, eso hara que aparezca un cuadro de color morado en el que si mueve su mous, seguidamente deja de precionar, seleccionara todos los procesos y conexiones que estan dentro del cuadro. </li>
                  </ul>
                </mat-expansion-panel>

            </mat-accordion>
            <button mat-raised-button color="warn" onclick="printDiagram()">Imprimir en formato .PDF</button> &nbsp;
            <button mat-raised-button color="primary" onclick="saveSvg()">Guardar en formato .SVG</button>
        </div>
    </mat-card>
</div>
</article>

<div class="overlay" id="overlay">
  <div class="popup" id="popup">
    <h3>Guardado</h3>
    <form class="form" method="post" action="#">
    <form [formGroup]="form">
      <div class="contenedor-inputs">
        <input type="text" placeholder="Nombre" formControlName="NAME" >
      </div>
      <input type="submit"  id="btn-cerrar-popup" class="btn-submit" value="Enviar" (click)="Saved()">
      <input type="submit"  id="btn-cerrar-popup_" class="btn-submit" value="Cerrar">
    </form>
  </form>
  </div>
</div>

</div>

