<div>
    <mat-card>
        <div id="sample">
            <div id="myDiagramDiv" style="border: 1px solid black; width: 100%; height: 400px; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;"><canvas tabindex="0" width="1054" height="398" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 1054px; height: 398px; cursor: auto;">This text is displayed if your browser does not support the Canvas HTML element.</canvas><div style="position: absolute; overflow: auto; width: 1054px; height: 398px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
            <p>
              A <em>sequence diagram</em> is an interaction diagram that shows how entities operate with one another and in what order.
              In this sample, we show the interaction between different people in a restaurant.
            </p>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Opciones Avanzadas
                    </mat-panel-title>
                    <mat-panel-description>
                      Guardar, Cargar, Ver en formato JSON
                    </mat-panel-description>
                  </mat-expansion-panel-header>


            <div>
              <div>
                <button mat-raised-button id="SaveButton" onclick="save()">Save</button>
                <button mat-raised-button onclick="load()">Load</button>
                Diagram Model saved in JSON format:
              </div>
              <textarea id="mySavedModel" style="width:100%;height:240px">{ "class": "go.GraphLinksModel",
            "nodeDataArray": [
          {"key":"Fred", "text":"Fred: Patron", "isGroup":true, "loc":"0 0", "duration":9},
          {"key":"Bob", "text":"Bob: Waiter", "isGroup":true, "loc":"100 0", "duration":9},
          {"key":"Hank", "text":"Hank: Cook", "isGroup":true, "loc":"200 0", "duration":9},
          {"key":"Renee", "text":"Renee: Cashier", "isGroup":true, "loc":"300 0", "duration":9},
          {"group":"Bob", "start":1, "duration":2},
          {"group":"Hank", "start":2, "duration":3},
          {"group":"Fred", "start":3, "duration":1},
          {"group":"Bob", "start":5, "duration":1},
          {"group":"Fred", "start":6, "duration":2},
          {"group":"Renee", "start":8, "duration":1}
           ],
            "linkDataArray": [
          {"from":"Fred", "to":"Bob", "text":"order", "time":1},
          {"from":"Bob", "to":"Hank", "text":"order food", "time":2},
          {"from":"Bob", "to":"Fred", "text":"serve drinks", "time":3},
          {"from":"Hank", "to":"Bob", "text":"finish cooking", "time":5},
          {"from":"Bob", "to":"Fred", "text":"serve food", "time":6},
          {"from":"Fred", "to":"Renee", "text":"pay", "time":8}
           ]}
              </textarea>
            </div>
            
                </mat-expansion-panel>
            </mat-accordion>
            <button mat-raised-button color="warn" onclick="printDiagram()">Imprimir en formato .PDF</button> &nbsp;
            <button mat-raised-button color="primary" onclick="saveSvg()">Guardar en formato .SVG</button>
        </div>
    </mat-card>
</div>