
            <!-- toolbar -->
            <mat-toolbar >

              <span style="position: relative; left: 10px; font-size: 33px;">{{Usuario}}</span>

              <span class="example-spacer"></span>
              <button mat-button  class="btn btn-sm m-2" (click)="Seguir()" [class.myClass]="this.form.value['SEGUIR'].toLowerCase() === 'true'"  >
                <mat-icon>subscriptions</mat-icon>
               </button>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
              </button>
            </mat-toolbar>

<div class="row">
    <ul>
      <li *ngFor="let Apuntes of Apuntes">
  
  <div class="line"> 
  
  
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              <div class="contenedor"> 
                 {{Apuntes.NOMBRE}}
              </div>
              </mat-card-title>
          </mat-card-header>
          <iframe [src]="transform(Apuntes.PDF)"  
          class="tn" 
           scrolling="no"
             frameborder="0" >
               </iframe>

          <mat-card-actions>
            <button mat-button  class="btn btn-sm m-2" (click)="MeGusta(Apuntes)" [class.myClass]="Apuntes.Megusta.toLowerCase() === 'true'"  >LIKE</button>
            <button mat-button>SHARE</button>
            <button mat-button (click)="SHOW(Apuntes)" >SHOW</button>
        
          </mat-card-actions>
        </mat-card>
  
        </div>
      
  
  
    
        
  
    </li></ul>
  </div>