<div class="contenedor">
  <article>
<div>
    <mat-card>


  <div id="allSampleContent" class="p-4 w-full">

<div id="sample">
<div style="width: 100%; display: flex; justify-content: space-between">
  <div id="myPaletteDiv" style="width: 100px; margin-right: 2px; background-color: rgb(40, 44, 52); position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);"><canvas tabindex="0" width="100" height="750" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 100px; height: 750px;">This text is displayed if your browser does not support the Canvas HTML element.</canvas><div style="position: absolute; overflow: auto; width: 100px; height: 750px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
  <div id="myDiagramDiv" style="flex-grow: 1; height: 750px; background-color: rgb(40, 44, 52); position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;"><canvas tabindex="0" width="954" height="750" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 954px; height: 750px; cursor: auto;">This text is displayed if your browser does not support the Canvas HTML element.</canvas><div style="position: absolute; overflow: auto; width: 954px; height: 750px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
</div>


<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Opciones Avanzadas
        </mat-panel-title>
        <mat-panel-description>
          Guardar, Cargar, Ver en formato JSON
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <div>
          <button mat-button id="saveModel" onclick="save();">Save</button>
          <!-- <button mat-raised-button color="accent" onclick="load();">Load</button> -->
          <mat-form-field ppearance="outline" style="width: 80px;" >
            <mat-label>Load</mat-label>
            <mat-select>
              <mat-option *ngFor="let Lista of Lista" >  
                <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="cargar(Lista.NOMBRE,Lista.log)" onclick="load();">{{Lista.NOMBRE}}</button>
                <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="eliminar(Lista.NOMBRE)" ><mat-icon>delete_outline</mat-icon></button>
    
              </mat-option>
            </mat-select>
          </mat-form-field>
    
    
          <h3>{{name}}</h3>       
          <p>Modelo en formato JSON:</p>
        </div>
<textarea id="mySavedModel" style="width:90%;height:300px">{ "class": "GraphLinksModel",
  "linkFromPortIdProperty": "fromPort",
  "linkToPortIdProperty": "toPort",
  "nodeDataArray": [
{"category":"Comment","loc":"360 -10","text":"Galletas","key":-13},
{"key":-1,"category":"Start","loc":"175 0","text":"Start"},
{"key":0,"loc":"-33.88885498046875 102.77778625488283","text":"Precalentar el horno a 375 F"},
{"key":1,"loc":"175 100","text":"Juntar: 1 taza de margarina, 1.5 cucharadita de vainilla, 1 pizca de sal"},
{"key":2,"loc":"175 200","text":"Gradualmente a\u00f1adir 1 taza de azucar y 2 tazas de harina"},
{"key":3,"loc":"175 290","text":"Mezclar 1 taza de chispas de chocolate oscuro"},
{"key":4,"loc":"175 380","text":"A\u00f1adir a una hoja de ornear con 5cm de separacion"},
{"key":5,"loc":"389.4444580078125 86.11109924316406","text":"Moler 1/2 de taza de nueces preferidas"},
{"key":6,"loc":"175 450","text":"Rociar nueces encima"},
{"key":7,"loc":"175 515","text":"Cocinar por 25 minutos y dejar enfriar"},
{"key":-2,"category":"End","loc":"173.8887939453125 634.4444580078125","text":"Enjoy!"}
],
  "linkDataArray": [
{"from":1,"to":2,"fromPort":"B","toPort":"T","points":[175,141.5008972167969,175,151.5008972167969,175,153.96886215209963,175,153.96886215209963,175,156.43682708740235,175,166.43682708740235]},
{"from":2,"to":3,"fromPort":"B","toPort":"T","points":[175,233.56317291259768,175,243.56317291259768,175,245,175,245,175,246.43682708740232,175,256.4368270874023]},
{"from":3,"to":4,"fromPort":"B","toPort":"T","points":[175,323.5631729125976,175,333.5631729125976,175,335,175,335,175,336.4368270874023,175,346.4368270874023]},
{"from":4,"to":6,"fromPort":"B","toPort":"T","points":[175,413.5631729125976,175,423.5631729125976,175,423.5631729125976,175,422.3122756958008,175,422.3122756958008,175,432.3122756958008]},
{"from":6,"to":7,"fromPort":"B","toPort":"T","points":[175,467.6877243041992,175,477.6877243041992,175,478.53113784790037,175,478.53113784790037,175,479.3745513916016,175,489.3745513916016]},
{"from":-1,"to":0,"fromPort":"B","toPort":"T","points":[175,36.75,175,46.75,175,46.75,-33.88885498046875,46.75,-33.88885498046875,67.1523376464844,-33.88885498046875,77.1523376464844]},
{"from":-1,"to":1,"fromPort":"B","toPort":"T","points":[175,36.75,175,46.75,175,47.624551391601564,175,47.624551391601564,175,48.49910278320313,175,58.49910278320313]},
{"from":-1,"to":5,"fromPort":"B","toPort":"T","points":[175,36.75,175,46.75,175,48.61782531738281,389.4444580078125,48.61782531738281,389.4444580078125,50.485650634765626,389.4444580078125,60.485650634765626]},
{"from":5,"to":4,"fromPort":"B","toPort":"T","points":[389.4444580078125,111.7365478515625,389.4444580078125,121.7365478515625,389.4444580078125,124,389.4444580078125,124,389.4444580078125,332,215.92010498046875,332,215.92010498046875,336.4368270874023,215.92010498046875,346.4368270874023]},
{"from":0,"to":4,"fromPort":"B","toPort":"T","points":[-33.88885498046875,128.40323486328128,-33.88885498046875,138.40323486328128,-33.88885498046875,140,-33.88885498046875,140,-33.88885498046875,332,134.07989501953125,332,134.07989501953125,336.4368270874023,134.07989501953125,346.4368270874023]},
{"from":7,"to":-2,"fromPort":"B","toPort":"T","points":[175,540.6254486083984,175,550.6254486083984,175,571.6599533081055,173.8887939453125,571.6599533081055,173.8887939453125,592.6944580078125,173.8887939453125,602.6944580078125]}
]}
</textarea>
    
</div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Ayuda
    </mat-panel-title>
    <mat-panel-description>
      Cómo usar el Diagrama/Mapa
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>

</mat-accordion>
<br>
<button mat-raised-button color="warn" onclick="printDiagram()">Imprimir en formato .PDF</button> &nbsp;
<button mat-raised-button color="primary" onclick="saveSvg()">Guardar en formato .SVG</button>
</div>
</div>

</mat-card>
</div>
 
</article>

<div class="overlay" id="overlay">
  <div class="popup" id="popup">
    <h3>Guardado</h3>
    <form class="form" method="post" action="#">
    <form [formGroup]="form">
      <div class="contenedor-inputs">
        <input type="text" placeholder="Nombre" formControlName="NAME" >
      </div>
      <input type="submit"  id="btn-cerrar-popup" class="btn-submit" value="Enviar" (click)="Saved()">
      <input type="submit"  id="btn-cerrar-popup_" class="btn-submit" value="Cerrar">
    </form>
  </form>
  </div>
</div>

</div>