<ngx-toast-notifier></ngx-toast-notifier>
<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="refresh()" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>El manual del estudiante</span>
    <span class="example-spacer"></span>
    <ng-template [ngIf]=" Rol == 'admin'">
    <button  mat-icon-button class="gavel" aria-label="button for home" (click)="adminPage()">
      <mat-icon>gavel</mat-icon>
    </button>
   </ng-template>
    <button mat-flat-button color="primary" (click)="search()" aria-label="search button">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="home" aria-label="button for home" (click)="home()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-fab class="login" aria-label="button for login" (click)="login()">
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <h1>{{name}}</h1>
      
      <mat-list>
          <mat-list-item><button mat-button (click)="upload()">Upload</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="textEditor()">Editor de Texto</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="Electronica()">Circuito lógico</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="graphEditor()">Diagrama de flujo</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="mindmap()">Mapa mental</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="MapEditor()">Editor Geográfico</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="statemap()">Mapa de Estados</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="draw()">Dibujar</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="sequence()">Diagrama de Secuencia</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="records()">Diagrama de Recorrido</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="MyNotes()">My Notes</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="Historial()">Historial</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="Megusta()">Me Gusta</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button (click)="CreateList()">Crear lista</button></mat-list-item>
          <mat-divider></mat-divider>


          <!--Ver Mas-->
        </mat-list>
        <p>
        <h2>Mis listas</h2>
        <mat-list *ngFor="let Lista of Lista">
          <mat-list-item>
            <button mat-button (click)="ListSelected(Lista)">
              <mat-icon>list</mat-icon> {{Lista.NOMBRE}}
          </button>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon >more_verti</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-button  (click)="DellList(Lista)" ><mat-icon>delete_outline</mat-icon></button>
            <button mat-button (click)="EditList(Lista)"><mat-icon>create</mat-icon></button>
       </mat-menu>
        </mat-list-item>
          <!----------->

          <!--fin-->
        </mat-list>

        <h2>Siguiendo</h2>
        <mat-list *ngFor="let siguiendo of siguiendo">
          <mat-list-item>
            <button mat-button (click)="Siguiendo(siguiendo)">
              <mat-icon>supervised_user_circle</mat-icon>{{siguiendo.USUARIO}}
          </button>
        </mat-list-item>

        </mat-list>
        <mat-divider></mat-divider>
        <button mat-button (click)="Logout()" color="warn"><mat-icon>exit_to_app</mat-icon>Logout</button>
      </mat-drawer>
  
    <div class="example-sidenav-content">
    <router-outlet> </router-outlet>

    </div>
  
  </mat-drawer-container>
