<ngx-toast-notifier></ngx-toast-notifier>
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>El manual del estudiante</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with home icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-fab class="login" aria-label="button for login" (click)="login()">
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <h1>#USUARIO</h1>
      
      <mat-list>
          <mat-list-item><button mat-button (click)="upload()">Upload</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button>Apuntes</button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><button mat-button>Apuntes</button></mat-list-item>
        </mat-list>
        <button mat-button color="warn">Logout</button>
      </mat-drawer>


  
    <div class="example-sidenav-content">
    <router-outlet> </router-outlet>

    </div>
  
  </mat-drawer-container>
